################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/Volo/FileContentIndex/0e654c3a-2bbb-469d-b727-2c10610b5387.vsidx
/.vs/Volo/FileContentIndex
