.page_signup{
    height: 85vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ddc4f5;
}
.header_log{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width:100vw;
    background-color: #4e2b7f;
}
#logo_login {
    width: 20%;
    height: 70%;
}
.signup_window{
    height:75vh;
    width:30vw;
    font-size: 20px;
    border-radius: 5%;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4e2b7f;
}
input{
    margin:10px;
    width:20vw;
    height: 2vw;
}
.signup_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:2vh;
}
#try_sign_up_button{
    margin:2vh;
    height:5vh;
    width:10vw;
    font-size: 20px;
    border-radius: 5%;
    color:aliceblue;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #4e2b7f; 
}
